@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

:root {
  --primary-color: hsl(217, 19%, 35%);
  --color-card-bg: hsl(210, 46%, 95%);
  --share-btn-color: hsl(214, 17%, 51%);
  --color-text: hsl(212, 23%, 69%);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: "Manrope", serif;
  box-sizing: border-box;
}

body {
  font-size: 1.3rem;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(212deg 23% 69% / 41%);
  color: var(--color-text);
  font-weight: 500;
  line-height: 1.6;
}

.app {
  max-width: 80rem;
  border-radius: 1rem;
  display: flex;
  align-items: start;
  background-color: #fff;
  margin-bottom: 2rem;
  overflow: hidden;
  box-shadow: 0 0.1rem 1.8rem 0.6rem hsl(214deg 17% 51% / 25%);
}
#root {
  position: relative;
}

.arrow {
  position: absolute;
  top: 75%;
  left: 44%;
  width: 2rem;
  height: 2rem;
  transform: rotate(45deg);
  background-color: var(--primary-color);
}
/* LEFT-PART */
.leftImg {
  flex: 0.9;
  width: 100%;
  align-self: stretch;
  background-image: url(../images/drawers.jpg);
  background-size: cover;
  background-position: left;
}

.content {
  flex: 1.1;
  padding: 4rem;
}

.details h1 {
  font-size: 2.3rem;
  font-weight: 700;
  color: var(--primary-color);
  line-height: 1.4;
  margin-bottom: 1.5rem;
}

.details p {
  text-align: justify;
  margin-bottom: 2.5rem;
}

.profile {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}
.profile img {
  border-radius: 5rem;
  height: 5rem;
}

.data h2 {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--primary-color);
}

.btn {
  margin-left: auto;
  border: none;
  background-color: hsl(212deg 23% 69% / 22%);
  border-radius: 50rem;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
}

.btn svg {
  width: 4.5rem;
  height: 4.5rem;
}
.btn.showpop {
  background-color: var(--share-btn-color);
}
.btn.showpop .iconShare {
  fill: #fff;
}

.list.showpop {
  position: absolute;
  top: 50%;
  left: 80%;
  list-style: none;
  display: flex;
  gap: 1.5rem;
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  background-color: var(--primary-color);
  box-shadow: 0 0.1rem 1.8rem 0.6rem hsla(214, 17%, 51%, 0.429);
}
.list {
  display: none;
}

.list li img {
  height: 1.8rem;
}
.list li:first-child {
  color: var(--color-text);
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}
/* AUTHOR */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: var(--primary-color);
}

/* //////////////////////////////////////////////////// */
/* MEDIA-QUERIES */
/* //////////////////////////////////////////////// */

/* 68.75em = 1100px */
@media only screen and (max-width: 68.75em) {
  html {
    font-size: 50%;
  }
}
/* 56.25em = 900px */
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 43.75%;
  }
}
/* 50em = 800px */
@media only screen and (max-width: 50em) {
  html {
    font-size: 37.5%;
  }
  #root {
    margin: 4rem 2rem;
  }
}
/* 31.25 = 500px */
@media only screen and (max-width: 31.25em) {
  .app {
    flex-direction: column;
  }
  .leftImg {
    flex: none;
    height: 30rem;
    background-position: center;
  }
  .arrow {
    display: none;
  }
  .btn {
    position: relative;
    z-index: 20;
  }
  .content {
    padding: 3rem;
  }
  .content.showpop {
    padding: 4rem 4rem 0 4rem;
  }
  .list.showpop {
    left: 0;
    top: 87%;
    width: 100%;
    border-radius: 0;
    gap: 3rem;
    padding: 2rem 3rem;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }
  .list li img {
    height: 2.5rem;
  }
  .list li:first-child {
    color: var(--color-text);
    font-size: 1.8rem;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
  }
}
